@import "./variables.scss";

.container {
  margin: 0% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint(md) {
    flex-direction: row;
    margin: 2%;
  }
  h1 {
    margin: auto;
    color: red;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.5%;
  border: 1px solid $grey;
  margin: auto;
  text-align: center;
  height: 600px;
  position: relative;
  margin-bottom: 40px;
  @include breakpoint(md) {
    width: 30%;
  }

  &__title {
    margin: 10px 0px;
  }
  &__desc {
    margin-top: 20px;
    max-height: 100px;
    min-height: 100px;
    font-size: 0.8rem;
  }
}

.cardbtn {
  background-color: rgba(0, 73, 230, 0.781);
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(2, 0, 128);
  }
}

.ranking {
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: orange;
  width: 120px;
  color: white;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  border-radius: 50%;
  box-shadow: $darkShadow;
}

.loading {
  text-align: center;
  margin-top: 200px;
}

.save {
  position: fixed;
  top: 7%;
  right: 6%;
  z-index: 2;
  width: 100%;
  outline: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  button {
    box-shadow: $darkShadow;
    width: 40%;
    background-color: orange;
    margin: 0;
    padding: 8px 10px;
    @include breakpoint(md) {
      width: 15%;
    }
  }
}
