@import "./variables.scss";

.results {
  display: flex;
  flex-direction: column;
  width: 98vw;
  align-items: center;
}

.card {
  display: flex;
  width: 80%;
  gap: 40px;
  margin: 10px 0px;
  flex-direction: row;
  font-size: 0.5rem;
  border: 2px solid $grey;
  padding: 2%;
  margin: 2% auto;
  img {
    width: 30px;
  }

  @include breakpoint(md) {
    width: 100%;
    font-size: 0.8rem;
    justify-content: space-evenly;

    * {
      min-width: 120px;
    }
    img {
      width: 100px;
    }
  }

  &__dishscore {
    flex-grow: 1;
    font-size: 0.7rem;
    @include breakpoint(md) {
      font-size: 1.5rem;
      flex-grow: 0;
    }
  }
}
