@import url("https://fonts.googleapis.com/css?family=Poppins");

//fonts
$Poppins: "Poppins", "sans-serif";

//colors
$grey: rgb(184, 184, 184);
$dark: rgb(29, 29, 29);
$lightShadow: 0px 2px 2px rgba(190, 190, 190, 0.9);
$darkShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

@mixin heading($color, $shadow) {
  h2 {
    color: $color;
    text-shadow: $shadow;
    margin: 20px 0px;
  }
}

@mixin breakpoint($point) {
  @if $point==md {
    @media (min-width: 48em) {
      @content;
    }
  }
}
